@font-face {
  font-family:"carmen-sans-light";
  src: url(../mix-pages-html/Carmen\ Sans\ Light.otf); 
}

html {
width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    font-family: "carmen-sans-light";
    
}
* {
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  font-family: "carmen-sans-light";
  background: rgba(99, 46, 51, 0.9);


}



body {
  border: 1px 1px 1px 1px transparent;
margin:  1px 1px 1px 1px;
  display: flex;
  padding: auto;
  flex-basis :100%;
width: 100%;
height: 100%;
  flex-wrap: wrap;
justify-content: center;

}
header {
  flex-wrap: wrap;
}
div#head  {
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
div#head img {
  image-rendering: auto;
  margin-bottom: 20px;



justify-content: center;
  width: fit-content;
  height: fit-content;
  align-items: center;
  flex-wrap: wrap;

}
  section#audio div {
    flex:100%;
    display: flex;
    justify-content: space-between;


  
  }
  
  div#garry {
    display: flex;
    justify-content: space-between;
text-align: center;
  }


section#audio   div#garry  h1 {
font-size: 35px;
flex-basis: 100%;
justify-content: flex-start;
color: rgba(127, 187, 185, 1);
align-items: center;

    
  
 
}
main {
  border-left: none;
  border-right: none;
  border-bottom: none;




  flex-basis: 100%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}


div#tracks {
  display: flex;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  flex-wrap: wrap;
  border-right: none;
  justify-content: space-between;

}
div#tracks ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(127, 187, 185, 1);
  font-size: 15px;
  list-style: none;
 
  flex-wrap: wrap;
  font-style: bold;
  background-color:rgba(127, 187, 185, 1) transparent;
  margin-bottom: 10px;
  border-right: none;

}
div#tracks ul li {
flex-wrap: wrap;  
  padding-top: 5px;
  border-right: none;
  border-left: none;
  border-right: none;
  flex-wrap: wrap;
  padding-bottom:5px;
  text-align: center;


}

section #audio {
  display: flex;
  flex-direction: row;
  align-items:stretch;

  flex-wrap: wrap;
  justify-content: center;
  background: rgba(99, 46, 51, 0.9);

  border-right: none;
}
div#foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 100%;
  margin: none;
  flex-wrap: wrap;


}

.button {

  border: none;
  flex-basis: 100%;
  border-color: rgba(245, 182, 73, 0.1);
  color: #98C4BA;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: bold;

}
footer { 
  flex-basis: 100%;
  background: rgba(99, 46, 51, 0.9);

}
footer div#footer ul {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: none;
  flex-wrap: wrap;
  background: rgba(99, 46, 51, 0.9);


}
div#footer ul li {
  display: flex;
  list-style: none;
  font-size: 25px;
  list-style: none;
  flex-wrap: wrap;


}
footer div#footer ul li a {
  color: rgba(127, 187, 185, 1);
  font-size: 20px;
  text-align: center;
  text-decoration:wavy;
  flex-wrap: wrap;
  font-style: italic;


}
